* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

html {
  color: #34495e;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}


h1 {
  text-align: center;
  font-size: 8vw;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 6vw;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-bottom: 20px;
}

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 3.2vw;
  background-color: #16a085;
}

@media only screen and (max-width: 767px) {
  h1 {
    text-align: center;
    font-size: 10vw;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 20px;
  }

}

p {
  font-size: 3.0vw;
}

i {
  margin-right: 5px;
}


.scaling-button {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.scaling-button:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
    h2 {
      font-size: 14vw;
    }
}
