* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}


h1 {
  text-align: center;
  font-size: 8vw;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 6vw;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-bottom: 20px;
}

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 3.2vw
}

@media only screen and (max-width: 767px) {
  h1 {
    text-align: center;
    font-size: 10vw;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 20px;
  }

}

p {
  font-size: 3.0vw;
}

i {
  margin-right: 5px;
}
