.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5vw;
  width: 40vw;
  height: 40vw;
  border-radius: 10px;
  position: relative;
  border: 1 px solid black;
}

.card-text {
  font-size: 7vh;
  font-weight: 300;
  letter-spacing: 1px;
}
